ul.nav li{
    display: inline-block;
    padding-right: 10px;
    background-color: red;
}
ul.nav li a {
  color: white;
}
#about_blue {
  background-color: #6495ED;
}
#about_yellow {
  background-color: #FFEBCD;
}
#about_yellow ul li {
  color: orange;
}
.color-info {
  border: 3px solid black;
  margin-bottom: 10px;
}
